<div class="text-muted my-2 text-center">Click on element to add</div>

<div class="row">
<div  appTextElement *ngFor="let element of defaultElements" class="text-center col-sm-12" [element]="element" (addedElement)="onAddedElement($event)"></div>

</div>
<hr class="my-2">

<h5 class="text-muted my-2 text-center">Additional elements</h5>

<div class="card-columns">

<div  appTextElement *ngFor="let element of extraElements" class=" mb-3 extra-element" [element]="element" (addedElement)="onAddedElement($event)"></div>


</div>