 <div ngbDropdown #dropDown="ngbDropdown" [autoClose]="!sidePanel" class="dropdown-menu-custom">
    	<div class="color-visible-outer" ngbDropdownToggle (click)="pushColor(dropDown)">
   			  <div class="color-visible" *ngIf="!sidePanel" [style.background-color]="currentColor.rgb"></div>
             <div class="color-add-new" *ngIf="sidePanel" [style.background-color]="currentColor.rgb">
               <i class="fa fa-plus"></i>
            </div>
  		</div>
      <div class="mt-3 dropdown-menu-custom-appendix" ngbDropdownMenu attr.aria-labelledby="{{label}}">
      	  		 <div class="dropdown-menu-custom-appendix-body">
     <div class="color-picker">
		<color-sketch   (onChange)="handleChange($event)"></color-sketch>
	</div>
 
     
    </div>
      </div>
    </div>
